{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:prettier/recommended", "plugin:react/recommended", "plugin:react/jsx-runtime"],
    "plugins": ["react"],
    "parserOptions": {
        "ecmaVersion": 2015,
        // Allows for the parsing of modern ECMAScript features
        "sourceType": "module" // Allows for the use of imports
    },
    "rules": {
        // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/react-in-jsx-scope": "off"
    },
    "overrides": [
        {
            "files": ["bin/*.js", "lib/*.js"]
        }
    ]
}
