* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.inkingHostsRoot {
    display: flex;
    flex-direction: row;
}

.inkingHost {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

#buttonStrip {
    padding: 0 6px 6px 6px;
}

.toolbar {
    margin-top: 6px;
}

.toolbar > button {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 10px 3px 10px;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #EEEEEE;
    color: black;
    border: 1px solid #888888;
    border-radius: 2px;
}

.toolbar > button:hover {
    background-color: #DDDDDD;
    border: 1px solid #777777;
}

.toolbar > button:active {
    background-color: #CCCCCC;
    border: 1px solid #777777;
}