.cursor-container {
    pointer-events: none;
    color: transparent !important;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    white-space: pre-wrap;
}

.cursor-span {
    --cursor-color: red;
    position: relative;
    width: 0;
}

.cursor {
    --cursor-height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0; /* Adjust this value as needed to center the cursor */
    width: 2px;
    padding-top: 3px;
    padding-bottom: 2px;
    height: var(--cursor-height);
    box-sizing: border-box;
    pointer-events: all;
}
.cursor-inner {
    --cursor-color: red;
    background-color: var(--cursor-color, blue);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.cursor-avatar-dot {
    --cursor-color: red;
    position: absolute;
    top: 0;
    left: 0; /* Adjust this value as needed to center the cursor */
    background-color: var(--cursor-color, blue);
    opacity: 1;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    box-sizing: content-box;
}

.cursor-avatar {
    position: absolute;
    top: -3px;
    left: 0; /* Adjust this value as needed to center the cursor */
    bottom: 0;
    vertical-align: top;
    transition: opacity 0.25s ease-in;
    opacity: 1;
}
.cursor-avatar.hidden {
    transition: opacity 0.25s ease-out;
    opacity: 0;
    width: 0px;
}

.cursor-hover {
    --cursor-color: red;
    position: absolute;
    top: -4px;
    left: 0; /* Adjust this value as needed to center the cursor */
    vertical-align: top;
    transition: opacity 0.25s ease-in;
    opacity: 1;
    border-radius: 8px;
    background-color: var(--cursor-color, blue);
    color: white;
    font-size: 0.75rem;
    line-height: 0.8rem;
    padding: 3px 6px;
    pointer-events: none;
}
.cursor-hover.hidden {
    transition: opacity 0.25s ease-out;
    opacity: 0;
}
